.container {
  display: flex;
  gap: 0 24px;
}

.video {
  height: 400px;
  border-radius: 10px;
}

.details {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "DM Mono", monospace;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 4px;
}

.creator {
  font-family: "DM Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.offer {
  font-family: "DM Mono", monospace;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.owner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: contain;
}
